section {
       background-color: green;
     }
     #text-section {
       background-color: blue;
     }
     .red-text {
       color: red;
     }
     h2.red-text {
       font-size: 100px;
}

      header {
        background-color: #999;
        margin: 0;

      }
      header > h3 {
      display: inline-block;
      margin: 10px;
      color:#333;
      font-family: helvetica,arial;


}
      header > nav { float: right;
                    list-style: none;
                    text-decoration: none;
      }

      header > nav > ul li {
          float: left;
          margin: 10px;
          list-style: none;
          text-decoration: none; }


          header > nav > ul li > a {
              float: left;
              color: #333;
              font-family: helvetica,arial;
              text-decoration: none;
      }
      header > nav > ul {
          padding: 0;
          margin: 0;
          text-decoration: none;
          font-family: helvetica, arial;
          list-style: none;
        }

          body {
    margin: 0;
    padding: 0;
} nav {


}
